body {
    /*null*/
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.MyTable {
    position: absolute;
    background-color: white;
	max-width: 800px;
    margin: auto;
    top: 20px;
    right: 0;
    bottom: auto;
    left: 0;
    padding: 15px;
    text-align: center;
    border: 0 solid white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.988418);
    font-family: "Helvetica Neue", Helvetica, Arial;
}

table.db-table {
    font-size: 10px;
    line-height: 15px;
    font-weight: 300;
    color: #3b3b3b;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    
}

table.db-table th {
    border: 1px solid #ddd;
    padding: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #9437FF;
    color: white;
}

table.db-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table.db-table tr:nth-child(even) {
    background-color: lightgrey;
    /*  background-color: #f2f2f2; */
}

table.db-table tr:hover {
    background-color: #d6b3ff;
}
