@media only screen and (max-device-width: 480px) {
    
    body {
		 background-color: #666666;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
	}
	
    .MyTable {
        position: absolute;
        background-color: white;
        margin: auto;
        top: 20px;
        right: 0;
        bottom: auto;
        left: 0;
        padding: 15px;
        max-width: 400px;
        text-align: center;
        border: 0 solid white;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.988418);
        font-family: "Helvetica Neue", Helvetica, Arial;
    }
		
h1 {
   
    color: white;
    max-width: 300px;
    text-align: center;
   
    margin: auto;
    top: 20px;
    right: 0;
    bottom: auto;
    left: 0;
  
}


h2 {
    color: #9437FF;
}

h4 {
   
    color: white;
    max-width: 300px;
    text-align: center;
    margin: auto;
    top: 20px;
    right: 0;
    bottom: auto;
    left: 0;
   
}

h6 {
  
    color: white;
    max-width: 300px;
    text-align: center;
   
    margin: auto;
    top: 20px;
    right: 0;
    bottom: 10px;
    left: 0;
  
}


label {
    color: #9437FF;
}

	
	.fontColor{
		
		 font-weight: bold;
		 color: #9437FF;
		
	}
	
	#grad1 {
       /* height: 200px; */
        background: -webkit-linear-gradient(#6100d0, #9437FF, #6100d0);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#6100d0, #9437FF, #6100d0);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#6100d0, #9437FF, #6100d0);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(#6100d0, #9437FF, #6100d0);
        /* Standard syntax (must be last) */
    }
}
	
}
